<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des rôles</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <span class="pageTitre" th:text="'Liste des rôles'"></span>
    <a class="btn btn-primary btn-lg button-add" th:href="@{'/role/add'}" role="button">Ajouter un rôle</a>
</div>


<table class="table table-hover table-striped table-bordered table-active">
    <tr>
        <th>ID</th>
        <th>Nom du rôle</th>
        <th>Acteur</th>
        <th>Film</th>
        <th>Rang</th>
        <th>Action</th>
    </tr>
<tr th:each="role : ${roles}">
    <td class="col-md-1">
        <a th:text="${role.id}"></a>
    </td>
    <td class="col-md-2">
        <a th:text="${role.name}"></a>
    </td>
    <td class="col-md-3">
        <a th:text="${role.actor.givenname}+' '+${role.actor.surname}" th:href="@{/person/detail/{id}(id=${role.id})}"></a>
    </td>
    <td class="col-md-3">
        <a th:text="${role.film.title}" th:href="@{/film/detail/{id}(id=${role.film.id})}"></a>
    </td>
    <td class="col-md-1">
        <a th:text="${role.rank}"></a>
    </td>
    <td class="col-md-2 text-center">
        <a class="btn btn-warning btn-sm"
           th:href="@{'/role/mod/' + ${role.id}}">Modifier</a>
        <a class="btn btn-danger btn-sm" th:href="@{'/role/delete/' + ${role.id}}">Supprimer</a>
    </td>
</tr>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>


