<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer une personne</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <h1>Editer une personne :</h1>

    <form action="#" th:action="@{/person/add}" th:object="${actor}" enctype="multipart/form-data" method="post">
        <input type="hidden" th:field="${actor.id}"/>
        <input type="hidden" th:field="${actor.imagePath}"/>
        <div class="form-group row">
            <label th:for="surname" class="col-sm-2 col-form-label">Nom</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="${actor.surname}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="givenname" class="col-sm-2 col-form-label">Prénom</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" th:field="${actor.givenname}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="birthday" class="col-sm-2 col-form-label">Date de naissance</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" th:field="${actor.birthday}"/>
            </div>
        </div>
        <div class="form-group row">
            <label th:for="photo" class="col-sm-2 col-form-label">Ajouter une photo</label>
            <div class="col-sm-10">
                <input type="file" class="btn btn-secondary btn-sm" name="photo"/> <span th:text="${actor.imagePath}">Fichier photo</span>
            </div>
        </div>
        <div class="button">
            <button type="submit" th:name="create" class="btn btn-primary">Editer une personne</button>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>