<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des personnes</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <span class="pageTitre" th:text="'Liste des personnes'"></span>
    <a class="btn btn-primary btn-lg button-add" th:href="@{'/person/add'}" role="button">Ajouter une personne</a>
</div>


<table class="table table-hover table-striped table-bordered table-active">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Action</th>
    </tr>
<tr th:each="actor : ${actors}">
    <td class="col-md-1">
        <a th:text="${actor.id}" th:href="@{/person/detail/{id}(id=${actor.id})}"></a>
    </td>
    <td class="col-md-9">
    <a th:text="${actor.surname}+' '+${actor.givenname}" th:href="@{/person/detail/{id}(id=${actor.id})}"></a>
    </td>
    <td class="col-md-2 text-center">
        <a class="btn btn-warning btn-sm"
           th:href="@{'/person/mod/' + ${actor.id}}">Modifier</a>
        <a class="btn btn-danger btn-sm" th:href="@{'/person/delete/' + ${actor.id}}">Supprimer</a>
    </td>
</tr>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>


