<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editer un film</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <h1>Editer un film :</h1>

    <form action="#" th:action="@{/film/add}" th:object="${film}" enctype="multipart/form-data" method="post">
        <input type="hidden" th:field="${film.id}"/>
        <input type="hidden" th:field="${film.imagePath}"/>
        <br/>
        <div>
            <div class="form-group row">
                <label th:for="title" class="col-sm-2 col-form-label">Titre</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="${film.title}"/>
                </div>
            </div>
            <div class="form-group row">
                <label th:for="rating" class="col-sm-2 col-form-label">Notation</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="${film.rating}"/>
                </div>
            </div>
            <div class="form-group row">
                <label th:for="summary" class="col-sm-2 col-form-label">Résumé</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="${film.summary}"/>
                </div>
            </div>
            <div class="form-group row">
                <label th:for="releaseDate" class="col-sm-2 col-form-label">Date de sortie</label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" th:field="${film.releaseDate}"/>
                </div>
            </div>
            <div class="form-group row">
                <label th:for="persons" class="col-sm-2 col-form-label">Réalisateur</label>
                <div class="col-sm-10">
                    <input list="persons" class="form-control" id="personsList" name="persons" th:field="${film.director}">
                    <datalist id="persons">
                        <option th:each="person : ${persons}" th:value="${person.id}" th:label="${person.givenname}"></option>
                    </datalist>
                </div>
                </input>
            </div>
            <div class="form-group row">
                <label th:for="genres" class="col-sm-2 col-form-label">Genre n°1</label>
                <div class="col-sm-10">
                    <input list="genres1" class="form-control" id="genre1" name="genres" th:field="${film.genres}">
                    <datalist id="genres1">
                        <option th:each="genre : ${genres}" th:value="${genre.id}" th:label="${genre.name}"></option>
                    </datalist>
                </div>
                </input>
            </div>
            <div class="form-group row">
                <label th:for="genres" class="col-sm-2 col-form-label">Genre n°2</label>
                <div class="col-sm-10">
                    <input list="genres2" class="form-control" id="genre2" name="genres" th:field="${film.genres}">
                    <datalist id="genres2">
                        <option th:each="genre : ${genres}" th:value="${genre.id}" th:label="${genre.name}"></option>
                    </datalist>
                </div>
                </input>
            </div>
            <div class="form-group row">
                <label th:for="genres" class="col-sm-2 col-form-label">Genre n°3</label>
                <div class="col-sm-10">
                    <input list="genres3" class="form-control" id="genre3" name="genres" th:field="${film.genres}">
                    <datalist id="genres3">
                        <option th:each="genre : ${genres}" th:value="${genre.id}" th:label="${genre.name}"></option>
                    </datalist>
                </div>
                </input>
            </div>
            <div class="form-group row">
                <label th:for="poster" class="col-sm-2 col-form-label">Ajouter une photo</label>
                <div class="col-sm-10">
                    <input type="file" class="btn btn-secondary btn-sm" name="poster"/> <span
                        th:text="${film.imagePath}">Fichier photo</span></div>
            </div>
        </div>
        <div class="button">
            <button type="submit" th:name="create" class="btn btn-primary">Editer un film</button>
        </div>
    </form>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>