<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--<meta charset="UTF-8">-->
<!--<title>Liste des films</title>-->
<!--<div th:replace="fragments/header :: header-css"/>-->
<!--</head>-->
<!--<body>-->
<!--<div th:replace="fragments/header :: header"/>-->
<!--<div class="corps">-->
<!--<h1 th:text="'Liste des films :'"></h1>-->

<!--<div th:each="film : ${films}">-->
<!--<a th:text="${film.titre} + ' ('+${film.notation}+')'" th:href="@{/film/{id}(id=${film.id})}"></a>-->
<!--</div>-->
<!--</div>-->
<!--<div th:replace="fragments/footer :: footer"/>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Liste des films</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <span class="pageTitre" th:text="'Liste des films'"></span>
    <a class="btn btn-primary btn-lg button-add" th:href="@{'/film/add'}" role="button">Ajouter un film</a>
</div>


<table class="table table-hover table-striped table-bordered table-active">
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Action</th>
    </tr>
    <tr th:each="film : ${films}">
        <td class="col-md-1">
            <a th:text="${film.id}" th:href="@{/film/detail/{id}(id=${film.id})}"></a>
        </td>
        <td class="col-md-9">
            <a th:text="${film.title}" th:href="@{/film/detail/{id}(id=${film.id})}"></a>
        </td>
        <td class="col-md-2 text-center">
            <a class="btn btn-warning btn-sm"
               th:href="@{'/film/mod/' + ${film.id}}">Modifier</a>
            <a class="btn btn-danger btn-sm" th:href="@{'/film/delete/' + ${film.id}}">Supprimer</a>
        </td>
    </tr>
</table>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>