<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${genre.name}">Title</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="corps">
    <h1 th:text="${genre.name}"></h1>
    <h6 th:text="'Liste des films relatifs au genre : '+${genre.name}"></h6>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-12" th:each="film : ${genre.getFilms()}">
                <a th:href="@{/film/detail/{Id} (Id=${film.getId()})}">
                    <img class="afficheFilmInPersonView"
                         th:src="'/film/affiches/'+${film.getImagePath()}">
                </a>
                <br/>
                <a th:text="${film.getTitle()}"
                   th:href="@{/film/detail/{Id} (Id=${film.getId()})}"></a>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>

