<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:fragment="header-css">
        <!-- bootstrap css -->
        <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"
              href="/webjars/bootstrap/4.1.3/css/bootstrap.css"/>
        <!--jumbotron css : allows the dropdown of the boostrap navbar to work-->
        <link rel="stylesheet" th:href="@{/css/jumbotron.css}"
              href="/static/css/jumbotron.css"/>
        <!--font main css-->
        <link rel="stylesheet" th:href="@{/css/cinema.css}"
              href="/static/css/cinema.css"/>
        <!--font awesome-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css"
              integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h"
              crossorigin="anonymous">
        <!--favicon-->
        <link rel="icon" type="image/png" th:href="@{/img/lolo-favicon.png}" />
    </th:block>
</head>
<body>
<div th:fragment="header">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <!--<a class="navbar-brand" th:href="@{/}">Navbar</a>-->
            <a th:href="@{/}"><i class="fas fa-video fa-2x"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/film/list}">Liste des films <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/person/list}">Liste des personnes</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/role/list}">Liste des rôles</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/genre/list}">Liste des genres</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
</div>
</div>
</body>
</html>